html(ng-app='books-app')
    head
        title='Book Series Organizer'
        link(rel='stylesheet', href='../stylesheets/style.css')
        script(src='../scripts/angular/angular.min.js')
        script(src='./javascript/books-app.js')
    body
        div(ng-controller='books-controller')
