html(ng-app='books-app')
    head
        title='Book Series Organizer'
        link(rel = 'stylesheet', href = '../fonts/CinzelDecorative-Regular.ttf')
        link(rel = 'stylesheet', href = '../fonts/CinzelDecorative-Bold.ttf')
        link(rel = 'stylesheet', href = '../fonts/CinzelDecorative-Black.ttf')
        link(rel='stylesheet', href='../scripts/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/index.css')
        script(src='../scripts/angular/angular.min.js')
        script(src='./javascript/books-app.js')
    body
        div(ng-controller='books-controller')
            div.text-center
                div.container
                    hr
                    h1 Book Series Organizer
                    hr
            div.container
                div.row
                    div.col-md-4.col-sm-4.col-xs-8
                        a(href='/addSeries').btn.btn-sm.animated-button.sandy-three  Add new series
                    div.col-md-4.col-sm-4.col-xs-8
                        a(href='/addBook').btn.btn-sm.animated-button.sandy-two  Add new book
                    div.col-md-4.col-sm-4.col-xs-8
                        a(href='/seriesList').btn.btn-sm.animated-button.sandy-four  View Series list